django>=5.1.4
djangorestframework>=3.15.2
django-cors-headers>=4.3.1
pandas>=2.0.0
django-cache-memoize>=0.1.10
reportlab==4.1.0
XlsxWriter==3.1.9
pdfkit>=1.0.0
wkhtmltopdf>=0.2
pytz>=2024.1
python-dateutil>=2.8.2
numpy>=1.24.0
